{% extends 'base.html' %}


{% block 'content' %}
<div class="container">
    <div class="row">
        {% for book in books %}
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{book.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.register_date}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.register_date}}</h6>
                    <p class="card-text">{{book.category}}</p>
                    <h6 style="display:inline" class="card-subtitle mb-2 text-muted"> available</h6>
                    {% if book.is_loan %}
                        <svg style="color:green; display:inline" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                        </svg>
                    {% else %}
                        <svg style="color:red; display:inline" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                        </svg>
                    {% endif %}
                        </br>
                        <a href={% url 'ver_livro' book.id %} class="btn btn-info">Details</a>

                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}